.accordion-item {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem !important;
    overflow: hidden;
}

.accordion-header {
    background-color: $main;
}

.accordion-button {
    background-color: $main;

    &:focus {
        background-color: darken($color: $main, $amount: 5);
        box-shadow: 0 0 0 0.25rem darken($color: $main, $amount: 8);
    }

    &:not(.collapsed) {
        background-color: darken($color: $main, $amount: 5);
        color: #212529;
        &::after {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
        }
    }
}
