@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@600&display=swap");

// COLORS
$main: #ffd9ea;
$secondary: $main;

//SIZES
$icon-size: 1.5em;
$display-font-weight: 400;
$btn-padding-y: 0.375rem;
$btn-padding-x: 1rem;

@import "../node_modules/bootstrap/scss/bootstrap";
@import "./indexbanner.scss";
@import "newsletterbanner.scss";

body {
  overflow-x: hidden;
}

body > div:first-child {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.icon {
  width: $icon-size;
  height: $icon-size;
}

.btn {
  min-width: 9em;
}

.btn-outline-dark {
  background-color: #ffff;
}

.font-abhaya {
  font-family: "Abhaya Libre", serif;
}

a {
  color: #d64485;
  text-decoration: none;
}

a:hover {
  color: #ac0b53;
}
