.newsletter-banner {
  background-color: $main;
  text-align: center;
  padding: 2em;
  margin-top: 15em;
  position: relative;
}

@include media-breakpoint-down(md) {
  .newsletter-banner {
    padding: 1em;
    margin-top: 2em;
  }
}

.newsletter-image {
  height: 25em;
  position: absolute;
  bottom: 0;
}
